
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-5v3mo6');
	src:url('../fonts/icomoon.eot?#iefix-5v3mo6') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-5v3mo6') format('woff'),
		url('../fonts/icomoon.ttf?-5v3mo6') format('truetype'),
		url('../fonts/icomoon.svg?-5v3mo6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-com:after {
	content: "\e600";
}
.icon-pen:after {
	content: "\e601";
}
.icon-star:before {
	content: "\e602";
}
.icon-up:before {
	content: "\e603";
}
.icon-down:before {
	content: "\e604";
}


a
{
	color: #22BCE0;

}
body
{
	background: #EEEEEE;
	

}

footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.6);
	padding: 1em;
	text-align: center;
}
footer p:first-child{

	margin-bottom: 0;
}
footer p:last-child{

	margin-top: 0;

}
footer p:last-child:after{
	content: " -";
}

footer p:last-child:before{
	content: "- ";
}


header
{
	background: #344B54;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header figure
{
	float: left;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;

	margin: 0 70px 0 0;

}
header .Header-avatar
{
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
header .Header-avatar img
{
	border-radius: 50%;
	width: 55px;
}
header .Header-logo img
{
	
	padding-right: 0.5em;
	width: 52px;
	-webkit-transition:0.5s;

	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;

}

.Header-logo img:hover{
	-webkit-transform:rotate(360deg);
	-moz-trasform:rotate(90deg);
	-0-trasform:rotate(90deg);
	-ms-trasform:rotate(90deg);

}
nav{
	background: #80bca3;
	
	padding: 0 6em 0 0.5em;
	position: relative;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	margin:0;
}

nav ul li a{

	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
nav ul li a:hover{

	background: #344B54;
}

nav ul #Publicar{

	
	position: absolute;
	right: 0;
	top: -0.1em;
	margin-right: 0.5em;


}
nav ul #Publicar a{

	background: #22BCE0;
	padding:0.6em 1em;
	font-style: italic;
	border-radius: 0.5em;
	text-decoration: none;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-weight: lighter;

	

}
nav ul #Publicar a .icon-pen{
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}

nav ul #Publicar a:hover .icon-pen{

	font-size: 20px;
	

}


aside{
	display: none;
}
.Header-logo{
	border-right: 1px solid white;
	margin-right: 0.5em;
}

#contenido{

	margin: 1em;
	

}

.Contenido .Contenido-item{
	background: white;
	
	border-bottom: 3px solid #22BCE0;
	position: relative;
	min-height: 128px;
	margin-bottom: 3em;
	padding-bottom: 0.5em;
	
}
.Contenido .Contenido-itemAutor{
	color: #aaa;

}
.Contenido .Contenido-datos{
	margin:1em 1em 0 0;
	text-align: right;

}
.Contenido .Contenido-itemFecha{
	
color: #aaa;
}
.Contenido .Contenido-itemTag{
	background:#F4502A; 
	color: white;
	text-decoration: none;
	padding: 0.2em 0.5em;
	display: inline-block;
	border-radius: 0.5em;
	float: left;

}

.Contenido .Contenido-item .Contenido-itemImage{
	float: left;
	margin: 0 1em 0 0;


}
.Contenido .Contenido-item .Contenido-itemImage img{
	width: 96px;
	
}
.Contenido .Contenido-itemTitulo{

	font-size: 1.2em;
	font-style: italic;
	padding:1em 1em 0 0; 
}
.Contenido .Contenido-itemTitulo a{

	color: #444;
	text-decoration: none;
}

.Contenido .votacion{
	background: white;
	position: absolute;
	border-radius: 0 0 0.5em 0.5em;
	top:100%;
	width: 90%;
	left: 5%;
	margin-top: 3px;
	padding:0.2em 0.5em;
	
}
.Contenido .Contenido-itemComentarios ,
.Contenido .Contenido-itemGuardar 
{
	float: right;


}
.votacion a{

	text-decoration: none;
}
.votacion .Contenido-itemDown {

	color: #DF5321;
}
.votacion .Contenido-itemUp {

	color: #23BA63;
}
.votacion .icon-com{

	color: #7A7A7A;
	font-size: 1.5em;
}
.votacion .Contenido-itemGuardar{

	color: #FFBE13;
	font-size: 1.2em;
	margin: 0 0.2em 0 0.2em;

}
.Contenido .Contenido-itemComentarios{
	vertical-align: top;
}
/*@media print{
	body{
		font-size: 50px;
	}
}*/
/*Responsive*/



@media screen and (max-width:480px){
	form input{
		margin:0 2.5em;
	}

}

@media screen and (min-width:800px){

	
	#contenido{
		
		overflow: hidden;
	}
	.Contenido-item{
		width: 49%;
		float: left;
		

		
	}
	.Contenido-item:nth-child(odd){
		margin-right:2%; 

	}
	

}

@media screen and (min-width:1000px){

	aside{
		display: block;
		float: right;
		margin: 1em 1%;
		width: 20%;
	}
	aside video{
		width: 100%;
	}
	
}

/*Formulario*/

form{
	text-align: right;
	padding: 1em 0em 1em 0em;
	text-align: center;
	display: none;

}

form input{

	border: 0.5px solid #ccc;
	padding: 0.5em 0.8em;
	border-radius: 3px;
}

form input[type=submit]{
	border: 0.5px solid #22BCE0;
	background: none repeat scroll 0% 0% #22BCE0;
	font-style: italic;
	text-decoration: none;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
	font-weight: lighter;
	color: white;
}